<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_34bc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{390,520},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_51e0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{520,520},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_51f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{650,520},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_53b6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{780,520},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_53c8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{910,520},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_53e3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,650},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_53e4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{130,650},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_53ea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{260,650},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_53ef.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{390,650},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_53f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{520,650},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_57ce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{650,650},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_65a4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{780,650},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_65ad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{910,650},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_65e5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,780},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_65e6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{130,780},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_65f6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{260,780},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_6c35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_6c49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{130,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_6cb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{260,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_6df1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{390,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_6e05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{520,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_6ee1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{650,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_70e7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{390,780},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_72ad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{520,780},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_72ec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{650,780},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_74dc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{780,780},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_76bf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{910,780},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_76d8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,910},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_76ee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{130,910},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_76f8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{260,910},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_7acb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{780,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_7ae5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{910,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_7af9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,130},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_7b20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{130,130},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_7c73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{260,130},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_7c92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{390,130},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_7cf8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{520,130},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_7ea6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{650,130},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_7eb7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{780,130},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_7f59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{910,130},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_7fbd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,260},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_7fc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{130,260},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_8ba0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{260,260},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_8bd7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{390,260},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_8c01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{520,260},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_8c37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{780,260},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_8c46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{910,260},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_8c5a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{650,260},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_8c78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,390},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_8db3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{130,390},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_8def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{260,390},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_8f9b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{390,390},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_8fb6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{520,390},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_8fd8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{650,390},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_9ad8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{780,390},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_9b3c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{910,390},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_9b42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,520},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_9e1f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{130,520},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_9e2d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{260,520},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fzlb-n-1.png</string>
            <key>size</key>
            <string>{1040,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d52e04f74ae7e6a932ff3db4ddf197f:fd93c14aa2779bdda79dc599cff60eca:bb51b93ae5a2569e47da06d10ea06481$</string>
            <key>textureFileName</key>
            <string>fzlb-n-1.png</string>
        </dict>
    </dict>
</plist>
